<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.lingview.dimstack.mapper.EditArticleMapper">

    <select id="getArticleListByUuid" resultType="xyz.lingview.dimstack.dto.request.EditArticleDTO">
        SELECT
            a.article_id as article_id,
            a.article_name as article_name,
            a.alias,
            u.username as author_name,
            a.create_time as create_time,
            a.status,
            a.password as password
        FROM article a
        JOIN user_information u ON a.uuid = u.uuid
        WHERE a.uuid = #{uuid} AND a.status != 0
        ORDER BY a.create_time DESC
        LIMIT #{offset}, #{size}
    </select>


    <select id="countArticlesByUuid" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM article a
        WHERE a.uuid = #{uuid} AND a.status != 0
    </select>

    <!-- 获取文章详情 -->
    <select id="getArticleDetailById" parameterType="string" resultType="xyz.lingview.dimstack.dto.request.ArticleDetailDTO">
        SELECT
            a.article_id as article_id,
            a.article_name as article_name,
            a.article_cover as article_cover,
            a.excerpt,
            a.article_content as article_content,
            a.password,
            GROUP_CONCAT(atr.article_tag) as tag,
            CASE 
                WHEN p.article_categories IS NULL THEN c.article_categories
                ELSE CONCAT(p.article_categories, '/', c.article_categories)
            END AS category,
            a.alias,
            a.status
        FROM article a
                 LEFT JOIN article_tag_relation atr ON a.article_id = atr.article_id
                 LEFT JOIN article_categories c ON a.category_id = c.id
                 LEFT JOIN article_categories p ON c.parent_id = p.id
        WHERE a.article_id = #{article_id}
        GROUP BY a.article_id, a.article_name, a.article_cover, a.excerpt,
                 a.article_content, a.password, c.article_categories, p.article_categories, a.alias, a.status
    </select>


    <!-- 根据用户名查找用户uuid -->
    <select id="getUuidByUsername" parameterType="string" resultType="string">
        SELECT uuid
        FROM user_information
        WHERE username = #{username}
    </select>

    <!-- 根据文章id获取用户uuid -->
    <select id="getUuidByArticleId" parameterType="string" resultType="string">
        SELECT uuid
        FROM article
        WHERE article_id = #{article_id}
    </select>

    <!-- 根据uuid获取用户名 -->
    <select id="getUsernameByUuid" parameterType="string" resultType="string">
        SELECT username
        FROM user_information
        WHERE uuid = #{uuid}
    </select>

    <!-- 更新文章 -->
    <update id="updateArticle" parameterType="xyz.lingview.dimstack.dto.request.UpdateArticleDTO">
        UPDATE article
        SET
            article_name = #{article_name},
            article_cover = #{article_cover},
            excerpt = #{excerpt},
            article_content = #{article_content},
            password = #{password},
            category_id = (
                SELECT c.id 
                FROM article_categories c 
                LEFT JOIN article_categories p ON c.parent_id = p.id 
                WHERE c.article_categories = #{category}
                AND p.id IS NULL
            ),
            alias = #{alias},
            status = #{status}
        WHERE article_id = #{article_id}
    </update>

    <update id="updateArticleWithCategory" parameterType="map">
        UPDATE article
        SET
            article_name = #{article_name},
            article_cover = #{article_cover},
            excerpt = #{excerpt},
            article_content = #{article_content},
            password = #{password},
            category_id = (
                SELECT c.id 
                FROM article_categories c 
                LEFT JOIN article_categories p ON c.parent_id = p.id 
                WHERE c.article_categories = #{childCategory}
                AND (
                    <if test="parentCategory != null and parentCategory != ''">
                        p.article_categories = #{parentCategory}
                    </if>
                    <if test="parentCategory == null or parentCategory == ''">
                        p.id IS NULL
                    </if>
                )
            ),
            alias = #{alias},
            status = #{status}
        WHERE article_id = #{article_id}
    </update>


    <!-- 删除文章 -->
    <update id="deleteArticle" parameterType="map">
        UPDATE article
        SET status = 0
        WHERE article_id = #{article_id} AND uuid = #{uuid}
    </update>

    <!-- 取消发布文章 -->
    <update id="unpublishArticle" parameterType="map">
        UPDATE article
        SET status = 2
        WHERE article_id = #{article_id} AND uuid = #{uuid}
    </update>

    <!-- 发布文章 -->
    <update id="publishArticle" parameterType="map">
        UPDATE article
        SET status = #{status}
        WHERE article_id = #{article_id} AND uuid = #{uuid}
    </update>

    <!-- 移除文章密码 -->
    <update id="removeArticlePassword" parameterType="map">
        UPDATE article
        SET password = #{password}
        WHERE article_id = #{article_id}
    </update>


    <delete id="deleteArticleTagRelations">
        DELETE FROM article_tag_relation WHERE article_id = #{articleId}
    </delete>

    <insert id="insertArticleTagRelation">
        INSERT INTO article_tag_relation(article_id, article_tag)
        VALUES (#{articleId}, #{tagName})
    </insert>

    <select id="getCategoryByArticleId" parameterType="string" resultType="string">
        SELECT CASE 
                WHEN p.article_categories IS NULL THEN c.article_categories
                ELSE CONCAT(p.article_categories, '/', c.article_categories)
            END AS category
        FROM article a
        JOIN article_categories c ON a.category_id = c.id
        LEFT JOIN article_categories p ON c.parent_id = p.id
        WHERE a.article_id = #{article_id}
    </select>

</mapper>
