<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.lingview.dimstack.mapper.ReadArticleMapper">

    <resultMap id="readArticleMap" type="xyz.lingview.dimstack.domain.ReadArticle">
        <id property="id" column="id"/>
        <result property="uuid" column="uuid"/>
        <result property="article_id" column="article_id"/>
        <result property="article_name" column="article_name"/>
        <result property="article_cover" column="article_cover"/>
        <result property="excerpt" column="excerpt"/>
        <result property="article_content" column="article_content"/>
        <result property="page_views" column="page_views"/>
        <result property="like_count" column="like_count"/>
        <result property="favorite_count" column="favorite_count"/>
        <result property="password" column="password"/>
        <result property="tag" column="tag"/>
        <result property="category" column="category"/>
        <result property="alias" column="alias"/>
        <result property="create_time" column="create_time"/>
        <result property="status" column="status"/>
    </resultMap>

    <!-- 根据文章ID查询文章是否需要密码 -->
    <select id="selectPasswordByArticleId" resultType="string">
        SELECT password
        FROM article
        WHERE article_id = #{article_id} AND status = 1
    </select>

    <!-- 获取文章数据 -->
    <select id="selectByArticleId" resultMap="readArticleMap">
        SELECT
            a.id,
            a.uuid,
            a.article_id,
            a.article_name,
            a.article_cover,
            a.excerpt,
            a.article_content,
            a.page_views,
            a.like_count,
            a.favorite_count,
            a.password,
            GROUP_CONCAT(atr.article_tag) as tag,
            CASE 
                WHEN p.article_categories IS NULL THEN c.article_categories
                ELSE CONCAT(p.article_categories, '/', c.article_categories)
            END AS category,
            a.alias,
            a.create_time,
            a.status
        FROM article a
                 LEFT JOIN article_tag_relation atr ON a.article_id = atr.article_id
                 LEFT JOIN article_categories c ON a.category_id = c.id
                 LEFT JOIN article_categories p ON c.parent_id = p.id
        WHERE a.article_id = #{article_id} AND a.status = 1
        GROUP BY a.id, a.uuid, a.article_id, a.article_name, a.article_cover,
                 a.excerpt, a.article_content, a.page_views, a.like_count,
                 a.favorite_count, a.password, c.article_categories, p.article_categories, a.alias,
                 a.create_time, a.status
    </select>

    <!-- 根据别名获取文章 -->
    <select id="selectByAlias" resultMap="readArticleMap">
        SELECT
            a.id,
            a.uuid,
            a.article_id,
            a.article_name,
            a.article_cover,
            a.excerpt,
            a.article_content,
            a.page_views,
            a.like_count,
            a.favorite_count,
            a.password,
            GROUP_CONCAT(atr.article_tag) as tag,
            CASE 
                WHEN p.article_categories IS NULL THEN c.article_categories
                ELSE CONCAT(p.article_categories, '/', c.article_categories)
            END AS category,
            a.alias,
            a.create_time,
            a.status
        FROM article a
                 LEFT JOIN article_tag_relation atr ON a.article_id = atr.article_id
                 LEFT JOIN article_categories c ON a.category_id = c.id
                 LEFT JOIN article_categories p ON c.parent_id = p.id
        WHERE a.alias = #{alias} AND a.status = 1
        GROUP BY a.id, a.uuid, a.article_id, a.article_name, a.article_cover,
                 a.excerpt, a.article_content, a.page_views, a.like_count,
                 a.favorite_count, a.password, c.article_categories, p.article_categories, a.alias,
                 a.create_time, a.status
    </select>


    <!-- 检查文章是否需要密码 -->
    <select id="isArticleNeedPassword" resultType="boolean">
        SELECT CASE WHEN password IS NOT NULL AND password != '' THEN true ELSE false END
        FROM article
        WHERE alias = #{alias} AND status = 1
    </select>

    <!-- 更新文章阅读量 -->
    <update id="updatePageViews">
        UPDATE article
        SET page_views = page_views + 1
        WHERE alias = #{alias}
    </update>

    <!--seo用-->
    <!-- 获取所有文章列表（仅别名） -->
    <select id="listAllArticles" resultMap="readArticleMap">
        SELECT alias
        FROM article
        WHERE status = 1
    </select>

    <!-- 获取所有分类列表 -->
    <select id="listAllCategories" resultType="string">
        SELECT article_categories
        FROM article_categories
        WHERE status = 1
    </select>

    <!-- 获取所有标签列表 -->
    <select id="listAllTags" resultType="string">
        SELECT tag_name
        FROM article_tag
        WHERE status = 1
    </select>

</mapper>
