<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lingview.dimstack.mapper.UploadMapper">
    <resultMap type="xyz.lingview.dimstack.domain.UploadAttachment" id="UploadAttachment">
        <result property="uuid" column="uuid" />
        <result property="attachment_id" column="attachment_id" />
        <result property="attachment_path" column="attachment_path" />
        <result property="status" column="status" />
    </resultMap>

    <insert id="insertUploadAttachment" parameterType="xyz.lingview.dimstack.domain.UploadAttachment">
        INSERT INTO attachment(uuid, attachment_id, attachment_path, status)
        VALUES (#{uuid}, #{attachment_id}, #{attachment_path},1)
    </insert>

</mapper>
