<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lingview.dimstack.mapper.UserInformationMapper">

    <select id="selectUserUUID" parameterType="string" resultType="string">
        SELECT uuid
        FROM user_information
        WHERE username = #{username}
    </select>

    <select id="selectUserByUUID" parameterType="string" resultType="xyz.lingview.dimstack.domain.UserInformation">
        SELECT id, uuid, username, avatar, phone, email, gender, password, birthday, role_id, create_time, status
        FROM user_information
        WHERE uuid = #{uuid} AND status = 1
    </select>

</mapper>