backend/target/
backend/docs/
dimstack_expansion_server/target/
dimstack_expansion_server/docs/
frontend/node_modules/
frontend/dist/
.idea/
upload/
logs/
systemconfig/target/
.vscode/
application-setup.properties
/systemconfig/dependency-reduced-pom.xml
