<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title th:text="${title}"></title>
    <meta name="description" th:content="${excerpt}">
    <meta name="keywords" th:content="${tag}">

    <link rel="canonical" th:href="${url}" />

    <meta property="og:type" content="article">
    <meta property="og:title" th:content="${title}">
    <meta property="og:description" th:content="${excerpt}">
    <meta property="og:url" th:content="${url}">
    <meta property="og:site_name" th:content="${domain}">
    <meta property="article:published_time" th:content="${date}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" th:content="${title}">
    <meta name="twitter:description" th:content="${excerpt}">
</head>

<body>
<h1 th:text="${title}"></h1>
<p>发布时间：<span th:text="${date}"></span></p>

<div th:utext="${content}"></div>

</body>
</html>
